body {
    font-family: Arial;
    background: linear-gradient(to right,#ffe6f0,#e6f7ff);
    margin: 0;
    text-align: center;
}

/* Center content on screen */
.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background: #ff6699;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 30px;
}

.main-img {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
}

button {
    padding: 12px 20px;
    background: #ff6699;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ff3385;
}
.gallery {
    margin-top: 20px;
}

.gallery img {
    width: 220px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px gray;
}
